@model Project_Krekelhof.ViewModels.CdIndexViewModel

@*<h3>@ViewBag.Selection</h3>*@

<table class="table">
    <tr style="text-align:center;">
        <th>
            @Html.DisplayNameFor(model => model.Cds.FirstOrDefault().Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cds.FirstOrDefault().Naam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cds.FirstOrDefault().Omschrijving)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cds.FirstOrDefault().Beschikbaar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cds.FirstOrDefault().ArtiestNaam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cds.FirstOrDefault().Categorie)
        </th>
        <th></th>
    </tr>

@if (Request["beschikbaar"] == "beschikbaar")
{
    foreach (var item in Model.Cds)
    {
        if (item.Beschikbaar == true)
        {
            <tr id="tabelrijen">
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Naam)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Omschrijving)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Beschikbaar)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ArtiestNaam)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Categorie)
                </td>
                <td>
                    @Html.ActionLink("Aanpassen", "Edit", new {id = item.Id}) |
                    @Html.ActionLink("Verwijderen", "Delete", new {id = item.Id})
                </td>
            </tr>
        }
    }
}
else
{
    foreach (var item in Model.Cds)
    {
        <tr id="tabelrijen">
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Naam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Omschrijving)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Beschikbaar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArtiestNaam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categorie)
            </td>
            <td>
                @Html.ActionLink("Aanpassen", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Verwijderen", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
}

</table>
