@model Project_Krekelhof.ViewModels.DvdIndexViewModel

<h3>@ViewBag.Selection</h3>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Dvds.FirstOrDefault().Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dvds.FirstOrDefault().Naam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dvds.FirstOrDefault().Omschrijving)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dvds.FirstOrDefault().Beschikbaar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dvds.FirstOrDefault().Regisseur)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dvds.FirstOrDefault().Categorie)
        </th>
        <th></th>
    </tr>

   
   
     @foreach (var item in Model.Dvds)
    {
        <tr id="tabelrijen">
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Naam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Omschrijving)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Beschikbaar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Regisseur)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categorie)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>
