<link href="~/Content/Leerlingen.css" rel="stylesheet" type="text/css" />

@model Project_Krekelhof.ViewModels.UitleningIndexViewModel


<table class="table">
    <tr style="text-align:center;">
        <th>
            @Html.DisplayNameFor(model => model.Uitleningen.FirstOrDefault().Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Uitleningen.FirstOrDefault().Item)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Uitleningen.FirstOrDefault().volledigeNaam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Uitleningen.FirstOrDefault().StartUitlening)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Uitleningen.FirstOrDefault().EindeUitlening)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Uitleningen.FirstOrDefault().IsTerug)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Uitleningen)
    {
        <tr id="tabelrijen">
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Item)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.volledigeNaam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartUitlening)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EindeUitlening)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsTerug)
            </td>
            <td>

                <a>
                    <img src="~/Images/Bewerken.png" style="width:10px; height:10px;" />
                    @Html.ActionLink("Aanpassen", "Edit", new { id = item.Id }) |

                </a>
                    @Html.ActionLink("Verwijderen", "Delete", new { id = item.Id, @class = "Deleteknop" }) |
                    @Html.ActionLink("Verlengen", "Verlengen", new { id = item.Id})               

            </td>
        </tr>

    }

</table>