<link href="~/Content/Leerlingen.css" rel="stylesheet" type="text/css" />


@model Project_Krekelhof.ViewModels.BoekIndexViewModel
@{
    ViewBag.Title = "Boeken";
}

 <h3 style="padding-top:40px; margin-bottom:100px; font-size: 50px;">@ViewBag.Selection</h3>

@using (Html.BeginForm())
{
    <p style="float:left">
        @Html.TextBox("zoekstring")        
        <input type="submit" id="submitknop" value="Zoek" />
    </p>
}


<form method="post" style="float:left">
    <p style="float:left; padding-left:10px; padding-right:5px;">
        Alleen beschikbare boeken
    </p>
    <input type="checkbox" name="beschikbaar" value="beschikbaar">    
    <input type="submit" value="Zoek" />
   
</form>

<p style="float:right">
    @Html.ActionLink("Nieuw boek toevoegen", "Create")
    <img style="height:25px" src="~/Images/Toevoegen.png" />
</p>



<div>
    @Html.Partial("BoekenLijst", Model)
</div>

@Scripts.Render("~/Scripts/checkbox.js")

