@model Project_Krekelhof.ViewModels.LeerlingViewModel

@{
    ViewBag.Title = "Verwijder Leerling";
}

<h2>@ViewBag.Title</h2>
@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-warning">@ViewBag.ErrorMessage</div>
}
<h4>Weet je zeker dat je de Leerling @Model.Voornaam @Model.Familienaam wil verwijderen?</h4>

<div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Verwijder" class="btn btn-default" /> |
            @Html.ActionLink("Terug naar lijst van leerlingen", "Index")
        </div>
    }
</div>


